* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    width: 960px;
    margin: 20px auto 0px auto;
}


nav {
    background-color: #c1392b;
    float: right;
    width: 100%;
    margin-bottom: 1px;
    font-family: sans-serif; 
    padding-top: 15px;

}

nav li {
    display: inline;
    margin-right: 20px;
    margin-bottom: 15px;
    float: right;
}

nav a {
    font-size: 20px;
    color: #f9e7e1;
    text-decoration: none;
}

.slika1 {
    width: 100%;
    margin-bottom: 6px;
}


hr {
    border: 0.3px solid #2d3e50 ;
    margin: 5px auto;
    width: 98%;
}

.prvi {
    display: inline block;
    background-color: #c1392b;
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.drugi {
    display: inline block;
    background-color: #2d3e50;
    float: left;
    width: 300px;
    height: 200px;
    margin: 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.treci {
    display: inline block;
    background-color: #ffbe00;
    float: right;
    width: 290px;
    border: 15px solid #ffbe00 ;
    line-height: 25px;
    font-family: sans-serif; 
    color: #2d3e50;
    font-size: 20px;
    margin-bottom: 234px;
}

.treci a {
    text-decoration: none;
    color: #2d3e50;
}

.cetvrti {
    display: inline block;
    background-color: #ffbe00;
    float: left;
    width: 300px;
    height: 200px;
    margin: 250px 10px 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.peti {
    display: inline block;
    background-color: #27ae61;
    float: left;
    width: 300px;
    height: 200px;
    margin: 250px 10px 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.sesti {
    display: inline block;
    background-color: #2d3e50;
    float: left;
    width: 300px;
    height: 200px;
    margin: -210px 10px 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.sedmi {
    display: inline block;
    background-color: #ffbe00;
    float: left;
    width: 300px;
    height: 200px;
    margin: -210px 330px 10px;
    font-family: sans-serif; 
    text-align: left;
    color: #2d3e50;
    font-size: 20px;
}

.article1 {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}

footer {
    background-color: #2d3e50;
    position: absolute;
    top: 2000px;
    color: white;
    font-family: sans-serif; 
    padding: 15px;
    margin: 15px auto;
    width: 100%;
}




